.seccion_como_logramos {
    background-color: #fff;
    padding: 50px 0 50px;
    position: relative;

    .slider {
        .item {
            padding-left: 30px;
            padding-right: 30px;
            text-align: center;
            font-family: 'IBMPlexSans-Regular';

            h3 {}
        }
    }

    .slick-dots li button:before {
        font-size: 50px;
    }

    .titulo {
        padding-bottom: 40px;
        padding-top: 40px;
        text-align: center !important;
        display: block;

        h2 {
            font-size: 45px;
            font-weight: 400;
            line-height: 1.1;
            text-align: center;
            font-family: 'IBMPlexSans-MediumItalic';
            margin: 0 0 35px;
            color: #0433FF;
            img{
                max-height: 45px;
                    margin-top: -20px;
            }
        }
    }
}

@media (max-width:574px) {
    .seccion_como_logramos {}
}